<div>



    <FIELDSET>
        <div class="container" ng-controller="clientOnboardCtrl">
            <!-- Example row of columns -->
            <form name="entryForm" id="database-form">
                <div class="row">


                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="inputFirstname">First Name *</label>
                            <input type="text" ng-model="firstName" class="form-control" id="inputFirstname" name="inputFirstname" required autofocus>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="inputLastname">Last Name *</label>
                            <input type="text" ng-model="lastName" class="form-control" class="form-control" id="inputLastname" required name="inputLastname">
                        </div>
                    </div>
                    
                        <div class="col-md-2">
                            <br>
                                <button type="submit" ng-click="insertCustomer()" class="btn btn-success">Submit</button>
                            <span ng-bind="insertCustomerResponse"></span>
                        </div>
                    <!-- <div class="col-md-4">
                        <div class="form-group">
                            <label for="inputBirthday">Birthday</label>
                            <div class="dropdown">
                                <a class="dropdown-toggle" id="inputBirthday" name="inputBirthday" role="button" data-toggle="dropdown" data-target="#" href="">
                                    <div class="input-group"><input type="text" class="form-control" data-ng-model="birthday">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="birthday" data-datetimepicker-config="{ dropdownSelector: '#inputBirthday',startView:'day', minView:'day' }"
                                    />
                                </ul>
                            </div>
                        </div>
                    </div> -->


                </div>
                <!-- 
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="inputEmail">Email</label>
                            <input type="text" ng-model="email" class="form-control" id="inputFirstname" name="inputEmail">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="inputPhone">Phone Number</label>
                            <input type="text" ng-model="phone" class="form-control" class="form-control" id="inputPhone" name="inputPhone">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="inputOccupancy">Occupancy</label>
                            <input type="text" ng-model="occupancy" class="form-control" id="inputOccupancy" name="inputOccupancy">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="inputRating">Rating</label>
                            <select class="form-control" ng-model="rating" id="inputRating" name="inputRating">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="inputUsername">Username</label>
                            <input type="text" ng-model="username" class="form-control" id="inputUsername" name="inputUsername">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="inputPassword">Password</label>
                            <input type="text" ng-model="password" class="form-control" id="inputPassword" name="inputPassword">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputCustomerNotes">Notes</label>
                            <textarea type="text" ng-model="customerNotes" class="form-control" id="inputCustomerNotes" placeholder="Optional" name="inputCustomerNotes"
                                rows="2"></textarea>
                        </div>

                    </div>

                </div> -->

                <!-- <div class="row">
                    <div class="col-md-12">

                       <button ng-click="insertCustomer()" class="btn btn-success">Submit</button>
                        <span ng-bind="insertCustomerResponse"></span>
                    </div>
                </div> -->



            </form>

            <hr>
            <h2>My Customers</h2>
            <div ui-grid="myCustomerGridOptions" ui-grid-edit class="myCustomerGrid"></div>
            <hr>
            <div ng-show="isAdmin">
                <div class="row">
                    <div class="col-md-8">
                            <h2>All Existing Customers</h2>                            
                        <!-- <strong><p>Existing Customers</p></strong> -->
                    </div>
                    <div class="col-md-2">
                        <input ng-model="passwordAuth" class="form-control" id="passwordAuth" name="passwordAuth" type="password" required>
                    </div>
                    <div class="col-md-2">
                        <button ng-click="addPasswordCol()" class="btn btn-info">Show Password</button>

                    </div>


                </div>
                <div>
                        <strong>Status:</strong> {{status.lastCellEdited + status.updateNotice}}
                        
                    <br>


                    <div ui-grid="customerGridOptions" ui-grid-edit class="customerGrid"></div>
                    <!--<div ui-grid="{data:customerData}" class="customerGrid"></div>-->
                    <hr>

                </div>

                <div class="row">
                        <div class="col-md-8">
                                <h2>All Admin and Planners</h2>                            
                            <!-- <strong><p>Existing Customers</p></strong> -->
                        </div>
                    </div>
                    <div>                            
                        <br>
                        <div ui-grid="plannerGridOptions" ui-grid-edit class="customerGrid"></div>
                        <!--<div ui-grid="{data:customerData}" class="customerGrid"></div>-->
                        <hr>
    
                    </div>
            </div>
                <!-- /container -->
    </FIELDSET>





    </div>